<% include ../partials/header %>

<div class="container">

   <h1>This is a show template</h1>
   <a href="/campgrounds">Go Back</a>
   <h2><%= campground.name %></h2>
   <div class="col-md-6">
        <img class="thumbnail col-xs-12" src="<%= campground.image %>">    
   </div>
   
   <div>
        <p> <%= campground.description %> </p>    
   </div>
   <p>
       <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add a new Comment</a>
   </p>
   <ul class="comments-container">
       <% campground.comments.forEach(function(comment){ %>
           <div class="comment">
               <li> <%= comment.text %> </li>
               <em> (<%= comment.author %>) </em>
           </div>
       <% }) %>
   </ul>


</div>

<% include ../partials/footer %>